<div class=" container-fluid  bg-dark text-white" id="Footer">

    <footer class="py-5">
        <hr>
        <div class="row mt-3 ms-5">
            <div class="col-6 col-md-2 mb-3">
                <h5 class="fs-2">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item  mb-2"><a href="#header" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item  mb-2"><a href="#projcts" class="nav-link p-0 text-muted">projects</a></li>

                    <li class="nav-item  mb-2"><a href="#about" class="nav-link p-0 text-muted">About</a></li>
                    <li class="nav-item  mb-2"><a href="#Footer" class="nav-link p-0 text-muted">Footer</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="fs-2">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#header" class="nav-link p-0 text-muted">Home</a></li>

                    <li class="nav-item mb-2"><a href="#projcts" class="nav-link p-0 text-muted">projects</a></li>
                    <li class="nav-item mb-2"><a href="#about" class="nav-link p-0 text-muted">About</a></li>
                    <li class="nav-item mb-2"><a href="#Footer" class="nav-link p-0 text-muted">Footer</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5 class="fs-2">Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#header" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#projcts" class="nav-link p-0 text-muted">projects</a></li>
                    <li class="nav-item mb-2"><a href="#about" class="nav-link p-0 text-muted">About</a></li>
                    <li class="nav-item mb-2"><a href="#Footer" class="nav-link p-0 text-muted">Footer</a></li>

                </ul>
            </div>

            <div class="col-5">
                <form>
                    <h5 class="fs-2 ">Subscribe to our newsletter</h5>
                    <p class="fs-5 mt-3">Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control  fs-3" placeholder="Email address">
                        <button class="btn btn-primary fs-3" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>


    </footer>
</div>