<div>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title table-bordered">
                <div class="header  ">
                    <div>
                        <h1>Users :</h1>
                    </div>

                    <div>
                        <button type="button" (click)="clickUser()" class="btn btn-primary create" data-bs-toggle="modal" data-bs-target="#exampleModal">
                          <i class="fa fa-solid fa-user-plus"></i>
                   Create
                        </button>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover  table-responsive">
                <thead class="table-dark"> class="fs-2"
                    <tr>
                        <th scope="col" class="fs-5">User Id</th>
                        <th scope="col" class="fs-5">First Name</th>
                        <th scope="col" class="fs-5">Last Name</th>
                        <th scope="col" class="fs-5">Email</th>
                        <th scope="col" class="fs-5">Mobil No</th>
                        <th scope="col" class="fs-5">Salary</th>
                        <th scope="col" class="fs-5">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider table-responsive">
                    <tr *ngFor="let user of usersData">
                        <td class="fs-4">{{user.id}}</td>
                        <td class="fs-4">{{user.firstName}}</td>
                        <td class="fs-4">{{user.lastName}}</td>
                        <td class="fs-4">{{user.Email}}</td>
                        <td class="fs-4">{{user.Mobil}}</td>
                        <td class="fs-4">{{user.salary}}</td>
                        <td>
                            <button type="button" (click)="onEdit(user)" class="btn btn-primary tatn fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-solid fa-user-pen"></i> Edit</button>
                            <button (click)="  deleteUser(user)" class="btn btn-danger tatn fs-5"> Delete</button>
                        </td>
                        <tr class="table-dark">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>
            </table>
          


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-2" id="exampleModalLabel">Users Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]='formValue'>

                                <div class="mb-3">
                                    <label for="firstName" class="form-label fs-4">First Name:</label>
                                    <input type="text" formControlName="firstName" class="form-control fs-3" id="firstName">
                                </div>
                                <div class="mb-3">
                                    <label for="lastName" class="form-label fs-4">Last Name:</label>
                                    <input type="text" formControlName="lastName" class="form-control fs-3" id="lastName">
                                </div>
                                <div class="mb-3">
                                    <label for="EmailId" class="form-label fs-4">Email Id:</label>
                                    <input type="email" formControlName="Email" class="form-control fs-3 " id="EmailId">
                                </div>
                                <div class="mb-3">
                                    <label for="mobil" class="form-label fs-4 ">Mobil No:</label>
                                    <input type="number" formControlName="mobil" class="form-control fs-3" id="mobil">
                                </div>
                                <div class="mb-3">
                                    <label for="salary" class="form-label fs-4">Salary:</label>
                                    <input type="number" formControlName="salary" class="form-control fs-3" id="salary">
                                </div>


                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cancel" class="btn btn-secondary py-2 fs-5" data-bs-dismiss="modal">Close</button>
                            <button type="button" *ngIf="showAdd" (click)="postUser()" class="btn btn-primary py-2 fs-5">Add</button>
                            <button type="button" *ngIf="showUpdate" (click)="UPdateUser()" class="btn btn-primary py-2 fs-5">UPdate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>