.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 200px;
  background-color: aqua;
  padding-left: 0;
  padding-right: 0;
}
@media( max-width:767px){
  .sidebar ul{
  display: none;
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100px;
  }
  }

.nav-link:hover {
  background-color: #525252 !important;
}

.nav-link .fa {
  transition: all 1s;
}

.nav-link:hover .fa {
  transform: rotate(360deg);
}
