<div>
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title table-bordered">
                <div class="header  ">
                    <div>
                        <h1>Products:</h1>
                    </div>

                    <div>
                        <button type="button" (click)="clickUser()" class="btn btn-primary create" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-solid fa-user-plus"></i>
                 Create
                      </button>
                    </div>
                </div>
            </div>

            <table class="table table-bordered table-hover  ">
                <thead class="table-dark fs-2">
                    <tr>
                        <th scope="col" class="fs-3">Product Id</th>
                        <th scope="col" class="fs-3">Src</th>
                        <th scope="col" class="fs-3">Tittle</th>
                        <th scope="col" class="fs-3">SubTittle</th>
                        <th scope="col" class="fs-3">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr *ngFor="let pro of proData">
                        <td class="fs-4">{{pro.id}}</td>
                        <td> <img src={{pro.src}}></td>
                        <td class="fs-4">{{pro.tittle}}</td>
                        <td class="fs-4 ">{{pro.subTittle}}</td>

                        <td>
                            <button type="button" (click)="onEdit(pro)" class="btn btn-primary tatn fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-solid fa-user-pen"></i> Edit</button>
                            <button (click)="  DeletePro(pro)" class="btn btn-danger tatn fs-5"> Delete</button>
                        </td>
                        <tr class="table-dark">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                </tbody>
            </table>
       


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-2" id="exampleModalLabel">Product Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]='formValue'>

                                <div class="mb-3">
                                    <label for="Src" class="form-label fs-4">Src:</label>
                                    <input type="text" formControlName="Src" class="form-control fs-3" id="Src">
                                </div>
                                <div class="mb-3">
                                    <label for="tittle" class="form-label fs-4">tittle:</label>
                                    <input type="text" formControlName="tittle" class="form-control fs-3" id="tittle">
                                </div>
                                <div class="mb-3">
                                    <label for=" subTittle" class="form-label fs-4"> SubTittle:</label>
                                    <input type="text" formControlName="subTittle" class="form-control fs-3 " id=" subTittle">
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="cancel" class="btn btn-secondary py-2 fs-5" data-bs-dismiss="modal">Close</button>
                            <button type="button" *ngIf="showAdd" (click)="PostProduct()" class="btn btn-primary py-2 fs-5">Add</button>
                            <button type="button" *ngIf="showUpdate" (click)="UPdatePro()" class="btn btn-primary py-2 fs-5">UPdate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>