
    <div class="row">
        <div class="col-2 ps-0  ">
            <app-sidbar-two></app-sidbar-two>
        </div>

        <div class="col-10 ps-0  me-0 ">
            <div class="row">
                <div class="col-12">
                    <app-header-two></app-header-two>
                </div>
            </div>

            <div class="row" style="height: 88%;">
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <app-footer-two></app-footer-two>
                </div>
            </div>
        </div>

    </div>

