.about {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons i {
    margin: 10px;
    cursor: pointer;
    color: white;
}