.content {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
}

.avatar span {
    color: #777;
    margin: 0 20px;
    font-size: 20px;
}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.icon {
    font-size: 25px;
    margin: 0 20px;
}

.links a {
    text-decoration: none;
    color: #777;
    margin: 0 20px;
    font-size: 20px;
}
@media( max-width:767px){
    .content .links{
        display: none;
    }
}