.header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-weight: bold;
  font-size: 40px;
}

th {
  width: 50px;
  height: 50px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}

td {
 
  text-align: center;
  font-size: 20px;
}

img {
  width: 70px;
  height: 70px;
}

.create {
  padding: 15px 10px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 10px;
  border-style: none;
}

.tatn {
  padding: 10px;

}