<div class="row">
  <nav class="navbar "  style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand"><strong>My Blog:</strong></a>
    </div>
  </nav>
</div>
<!-- Articles Body -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100"  *ngfor= " let item of blogObject ">
      <img src= {{item.src}} class="card-img-top" alt="...">
      <div class="card-body">
  

        <h5 class="card-title">{{item.tittle}}</h5>
        <p class="card-text">{{item.subTittle}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{item.date}}</small>
      </div>
    </div>
  </div>
</div>
<!-- <img src="../../../../../assets/team-01.jpg" alt="">
<img src="../../../../../assets/team-02.jpg" alt="">
<img src="../../../../../assets/team-03.jpg" alt="">
<img src="../../../../../assets/team-04.jpg" alt="">
<img src="../../../../../assets/team-05.png" alt="">
<img src="../../../../../assets/team-06.png" alt="">
<img src="../../../../../assets/atricles3.jpg" alt="">
<img src="../../../../../assets/images.jpg" alt="">
<img src="../../../../../assets/hgghgh.jpg" alt="">
<img src="../../../../../assets/team-04.jpg" alt="">
<img src="../../../../../assets/team-05.png" alt="">
<img src="../../../../../assets/team-03.jpg" alt="">
<hr>
<img src="../../../../../assets/articles1.jpeg" alt="">
<img src="../../../../../assets/articles2.jpg" alt="">
<img src="../../../../../assets/create-section1.jpg" alt=""> -->
