<div class="row">
  <nav class="navbar "  style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand"><strong>My Blog:</strong></a>
    </div>
  </nav>
</div>
<!-- Articles Body -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let item of blogObject">
    <div class="card h-100">
      <img src={{item.src}} class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.tittle}}</h5>
        <p class="card-text">{{item.subTittle}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{item.date|date:'short'}</small>
      </div>
    </div>
  </div>
</div>
