.cards {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 40px;
    z-index: 1;
    color: white;
    text-align: center;
    justify-content: center;
}

.cards img {
    width: 100%;
    transition: 0.5s;
}

.box {
    overflow: hidden;
}

.box:hover img {
    transform: scale(1.2) rotate(20deg);
}

h4 {
    padding: 20px;
}

p {
    color: #eee;
    line-height: 2;
}