<div class=" container-fluid bg-dark cards" id="projcts">
    <div class="box">
        <img src="assets/team-01.jpg">
        <div class="caption">
            <h4 class="fs-2"> Awesome image</h4>
            <P class="fs-3"> photography</P>
        </div>
    </div>
    <div class="box">
        <img src="assets/team-02.jpg">
        <div class="caption">
            <h4 class="fs-2"> Awesome image</h4>
            <P class="fs-3"> photography</P>
        </div>
    </div>
    <div class="box">
        <img src="assets/team-03.jpg">
        <div class="caption">
            <h4 class="fs-2"> Awesome image</h4>
            <P class="fs-3"> photography</P>
        </div>
    </div>
    <div class="box">
        <img src="assets/team-04.jpg">
        <div class="caption">
            <h4 class="fs-2"> Awesome image</h4>
            <P class="fs-3"> photography</P>
        </div>
    </div>
    <div class="box">
        <img src="assets/team-05.png">
        <div class="caption">
            <h4 class="fs-2"> Awesome image</h4>
            <P class="fs-3"> photography</P>
        </div>
    </div>
    <div class="box">
        <img src="assets/team-06.png">
        <div class="caption">
            <h4 class="fs-2"> Awesome image</h4>
            <P class="fs-3"> photography</P>
        </div>
    </div>
</div>