.cards {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 40px;
    z-index: 1;
    color: white;
    text-align: center;
    justify-content: center;
}

.cards img {
    width: 100%;
}

h4 {
    padding: 20px;
    font-size: 50px;
}

p {
    color: #eee;
    line-height: 2;
    font-size: 20px;
}
