<div class="row ">
    <nav class="navbar  container-fluid ps-3"  style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand"><strong>My Product: {{productId.id}}</strong></a>
      </div>
    </nav>
  </div>
  <!-- ca Body -->
<div class="container ">

        <div class="product ">
              <div class="card " >
                <img [src]="productId.src" class="card-img-top">
                <div class="card-body">
                  <h3 class="card-title">{{productId.tittle}}</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit minus vel delectus accusamus, magni sed consectetur suscipit numquam praesentium perspiciatis officiis illum aliquam cumque quis sapiente esse blanditiis obcaecati impedit.</p>
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-danger"(click)="Prev()" >Prev</button>
                    <button type="button" class="btn btn-warning" (click)="BACK()" >BACK</button>
                    <button type="button" class="btn btn-success" (click)="Next()" >Next</button>
                  </div>
                </div>
                <div class="card-footer ">
                    <p class="card-text">{{productId.subTittle}}</p>
                </div>
              </div>
           
        </div>
   
</div>
