
<div>
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class=" picsum-img-wrapper">
                <img src="assets/explore-section1.jpg" alt="Random first slide">
            </div>
            <div class="carousel-caption   ">
                <h1 class=" display-5">First slide label</h1>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/dsc07903_1440.jpeg" alt="Random second slide">
            </div>
            <div class="carousel-caption  d-none d-md-block">
                <h1 class=" display-5 ">Second slide label</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="assets/dsc07908-edit_1440.jpeg" alt="Random third slide">
            </div>
            <div class="carousel-caption  d-none d-md-block">
                <h1 class=" display-5 text-center">Third slide label</h1>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>

</div>