.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

ul {
    text-transform: capitalize;
}

@media( max-width:767px){
    .header ul{
        display: none;
    }
}
a:hover {
    background-color: rgb(193, 193, 190);
}

.logo {
width: 100px;
height: 100px;
    font-size: larger;
    font-weight: bold;
}

img {
    width: 100%;
}

.btn {
    padding: 10px 20px;
    font-size: 30px;
}
