.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}

ul {
    text-transform: capitalize;
}

a:hover {
    background-color: rgb(193, 193, 190);
}

.logo {
    width: 100px;
    height: 100px;
    font-size: larger;
    font-weight: bold;
}

img {
    width: 100%;
}

.btn {
    padding: 20px;
    font-size: 30px;
}
